

.header{
  height: 4rem;
  background-color: #605f5e;
  margin-bottom: 1rem;
  &__title{
    display: block;
    position: absolute;
    line-height: 4rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
}